// Mesting

@import 'import';

section.principal
{
	article
	{
		background-color: #ddd;
		padding: 10px;
		margin: 10px 0px;
		h1
		{
			border-bottom: 2px dotted #666;
			font-size: 2.5em;
			padding-bottom: 10px;
			color: red;
		}
		p
		{
            word-spacing: 8px;
		}
		ol
		{
			li
			{
				padding: 10px 20px;
			}
		}
	}
}